/* Custom CSS for the landing page */

/* Import font if needed */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

* {
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

:root {
  /* Using variables from general.css */
  --main-color: #21336a;
  --primary-color: #000;
  --canvas-color: #fff;
  --hover-color: rgb(222, 171, 95);
  --background-color: #21336a;
  --background-2-color: #0a0a0a;
  --panel-background: #fff;
  --border-color: #4b5563;
  --text-color: #21336a;
  --secondary-text-color: #9ca3af;
  --box-shadow: rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 60px 0 0 0;
  position: relative;
  overflow-y: auto;
}

.header-container {
  padding: 15px 20px 0 20px;
}

header {
  background-color: var(--panel-background);
  height: 80px;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--main-color);
}

/* .page span, .logout-button {
  color: var(--main-color);
} */

.main-container {
  flex-grow: 1; /* Allows the main container to take up available space */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem; /* Adjust padding for spacing */
}

.dice-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 4rem; /* Gap between the dice tiles */
  width: 100%;
  max-width: 1000px; /* Adjust as needed */
  padding: 2rem;
}

.dice-tile {
  background-color: var(--panel-background);
  color: var(--text-color);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 200px;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dice-tile:hover {
  transform: translateY(-5px);
  background-color: var(--hover-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.dice-label {
  color: var(--text-color); /* Ensure text color is inherited correctly */
}

/* Footer with Zyntel logo */
footer {
  position: fixed;
  padding: 1rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 99;
  margin-top: auto;
}

.footer-logo {
  height: 200px;
}

/* Ensure header and other common styles are not affected */
/* (Styles from general.css will be maintained) */
