/* Custom CSS for the landing page */

/* Import font if needed */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

* {
  color: var(--panel-background);
}

:root {
  /* Using variables from general.css */
  --main-color: #21336a;
  --primary-color: #000;
  --canvas-color: #fff;
  --hover-color: rgb(222, 171, 95);
  --background-color: #21336a; /* Adopted from index.css */
  --background-2-color: #0a0a0a;
  --panel-background: #fff;
  --border-color: #4b5563;
  --text-color: #21336a;
  --secondary-text-color: #9ca3af;
  --box-shadow: rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 60px 0 0 0; /* Adjusted padding to ensure content fits */
  position: relative; /* Added for absolute positioning of the footer */
  overflow: hidden; /* Added to prevent all scrolling */
}

.header-container {
  padding: 15px 20px 0 20px;
}

header {
  background-color: var(--panel-background);
  height: 80px;
}

h1 {
  font-size: 1.75rem; /* Reduced font size */
  font-weight: 700;
  color: var(--main-color);
}



.logout-button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: var(--background-2-color);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.2s, transform 0.2s;
  font-size: 15px;
  box-shadow: 0 4px 6px var(--box-shadow);
  align-items: center;
}

.logout-button:hover {
  background-color: var(--border-color);
  transform: scale(1.05);
}
.page {
  border-left: 2px solid var(--hover-color);
}

.page span {
  color: var(--main-color);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 100%;
  max-width: 1000px; /* Reduced panel size */
  padding: 5rem;
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
  flex-grow: 1; /* Allows the main container to take up available space */
}

@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}

.panel {
  background-color: var(--panel-background);
  border-radius: 1.5rem;
  box-shadow: 0 10px 15px var(--box-shadow);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

.panel:hover {
  transform: translateY(-5px);
}

.panel-title {
  font-size: 1.75rem; /* Reduced font size */
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 1rem;
}

.image-title {
  width: 100%;
  /* background-color: var(--background-color); */
  /* border: 1px solid var(--background-color); */
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px var(--box-shadow);
}

.image-title span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--background-color);
}

.main-display {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  margin-bottom: 0; /* Reduced space */
  width: 100%;
  padding: 0.75rem 1rem;
  align-items: center;
}

.main-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}

.main-display img.active {
  opacity: 1;
}

.view-page-button {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  width: 50px;
  height: 30px;
  background-color: var(--background-2-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.2s, transform 0.2s;
  z-index: 5;
  font-size: 15px;
  box-shadow: 0 4px 6px var(--box-shadow);
}

.view-page-button:hover {
  background-color: var(--border-color);
  transform: scale(1.05);
}

.dropdown-container {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 0; /* Reduced space */
}

.dropdown-button {
  width: 100%;
  background-color: var(--background-2-color);
  border-radius: 1rem;
  text-align: left;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  color: var(--panel-background); /* Corrected text color */
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  flex-direction: row;
  justify-content: space-between;
}

.arrow {
    font-size: 1.5rem;
}

.dropdown-button span {
  color: var(--panel-background); /* Ensures the text inside the span is the correct color */
}

.dropdown-button:hover {
  background-color: var(--border-color);
  transform: scale(1.05);
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  background-color: var(--panel-background);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  box-shadow: 0 4px 6px var(--box-shadow);
  z-index: 100; /* Increased z-index to ensure it's on top */
  margin-top: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s, transform 0.2s;
  max-height: 80px; /* Added max-height to prevent overflow */
  overflow-y: auto; /* Added for scrolling within the dropdown */
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu a {
  display: block;
  padding: 0.25rem 1rem;
  /* font-size: 13.5px; */
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.2s;
}

.dropdown-menu a:hover {
  background-color: var(--border-color);
  color: var(--panel-background);
}

/* Footer with Zyntel logo */
footer {
  position: fixed;
  padding: 1rem;
  right: 1rem; /* Positioning on the left */
  bottom: 1rem;
  z-index: 99; /* Ensures it's above other content */
  margin-top: auto;
}

.footer-logo {
  width: 200px; /* Set a specific size for the logo */
  height: auto;
}