/* table.css */

:root {
  --main-color: #21336a;
  --main-trans-color: rgb(33, 51, 106, 0.7);
  --primary-color: #000;
  --background-2-color: #0a0a0a;
  --canvas-color: #ffffff;
  --hover-color: #deab5f;
  --hover-color-2: #21336a1a;
  --background-color: rgba(250, 250, 250, 0.9);
  --border-color: #4b5563;
  --border-bottom: rgb(228, 228, 228);
  --box-shadow: rgba(0, 0, 0, 0.05);
}

body {
  padding-top: 150px; /* Adjusted padding-to... */
}

.table-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--box-shadow);
}

.neon-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 2px var(--border-color);
}

.neon-table th {
    padding: 10px 15px;
    font-size: 15px;
}

.neon-table th, .neon-table td {
    text-align: left;
    color: var(--border-color);
    border: 0.1px solid var(--border-color);
}

.neon-table td {
    padding: 7px 15px;
    font-size: 13px;
}

.neon-table th {
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    background-color: var(--background-color);
}

.neon-table th::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

/* .neon-table tbody tr:hover {
    background-color: var(--hover-color-2);
    box-shadow: 0 5px 5px var(--hover-color);
} */

.neon-table tbody tr:nth-child(odd) {
    background-color: var(--canvas-color);
}

.neon-table tbody tr:nth-child(even) {
    background-color: var(--background-color);
}

.neon-table tbody tr:hover td {
    color: var(--background-2-color);
    font-size: 13px;
    background-color: var(--hover-color-2);
    /* box-shadow: 0 5px 5px var(--hover-color); */
    cursor: pointer;
}

/* #pagination-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination-container button {
  padding: 5px 10px;
  color: var(--main-color);
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  border: none;
}

#pagination-container button:hover, #pagination-container button.active {
  border-color: var(--hover-color);
  border-radius: 10px;
}

#pagination-container button:disabled {
    color: #666;
    cursor: not-allowed;
} */

/* Styling for the Urgent button */
.urgent-btn,
.receive-btn,
.result-btn,
#multi-urgent-btn,
#multi-receive-btn,
#multi-result-btn {
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  border: none;
  padding: 8px;
  transition: all 0.3s ease;
  transform: scale(1);
  color: var(--canvas-color);
  cursor: pointer;
  background-color: var(--background-2-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--box-shadow);
}

.urgent-btn {
  color: #ffffff; 
  background-color: var(--background-2-color); 
}

.urgent-btn:hover,
.receive-btn:hover,
.result-btn:hover,
#multi-urgent-btn:hover,
#multi-receive-btn:hover,
#multi-result-btn:hover {
  background-color: var(--hover-color);
  color: var(--main-color);
}

/* Styling for the Urgent button when the urgency is set */
.urgent-btn.urgent {
  color: #ffffff; 
  background-color: red; 
}

/* Styling for the Receive button */
.receive-btn {
  background-color: #3b82f6; /* A shade of blue for receiving */
  color: white;
}

.receive-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Styling for the Result button */
.result-btn {
  background-color: #22c55e; /* A shade of green for results */
  color: white;
}

.result-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Styling for pagination buttons */
.pagination-btn {
  padding: 5px 10px;
  color: var(--main-color);
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  border: none;
}

.pagination-btn:hover {
  color: var(--hover-color);
}
 
.pagination-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-btn.active {
  background-color: #3b82f6;
  color: #ffffff;
}

/* Styling for multi-select action buttons */
#multi-select-actions {
  display: flex;
  gap: 1rem; /* Adjust this value to control the space between buttons */
  justify-content: flex-end;
  margin-top: 1rem; /* Add some space above the buttons */
}

#multi-urgent-btn {
  color: #ffffff; 
  background-color: var(--background-2-color); 
}

#multi-receive-btn {
  background-color: #3b82f6; /* A shade of blue for receiving */
  color: white;
}

#multi-result-btn {
  background-color: #22c55e; /* A shade of green for results */
  color: white;
}

/* Hide the buttons by default */
.hidden {
  display: none;
}