/* table.css */

:root {
  --main-color: #21336a;
  --main-trans-color: rgb(33, 51, 106, 0.7);
  --primary-color: #000;
  --background-2-color: #0a0a0a;
  --canvas-color: #ffffff;
  --hover-color: #deab5f;
  --hover-color-2: #21336a1a;
  --background-color: rgba(250, 250, 250, 0.9);
  --border-color: #4b5563;
  --border-bottom: rgb(228, 228, 228);
  --box-shadow: rgba(0, 0, 0, 0.05);
}

body {
  padding-top: 130px; /* Adjusted padding-to... */
}

.table-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--box-shadow);
}

.neon-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 2px var(--border-color);
}

.neon-table th, .neon-table td {
    padding: 3px 15px;
    text-align: left;
    color: var(--border-color);
    font-size: 13px;
    border: 0.1px solid var(--border-color);
}

.neon-table th {
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    background-color: var(--background-color);
}

.neon-table th::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

/* .neon-table tbody tr:hover {
    background-color: var(--hover-color-2);
    box-shadow: 0 5px 5px var(--hover-color);
} */

.neon-table tbody tr:nth-child(odd) {
    background-color: var(--canvas-color);
}

.neon-table tbody tr:nth-child(even) {
    background-color: var(--background-color);
}

.neon-table tbody tr:hover td {
    color: var(--background-2-color);
    font-size: 13px;
    background-color: var(--hover-color-2);
    /* box-shadow: 0 5px 5px var(--hover-color); */
    cursor: pointer;
}

#pagination-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
}

#pagination-container button {
  padding: 5px 10px;
  color: var(--main-color);
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  border: none;
}

#pagination-container:hover, #pagination-container.active {
  border-color: var(--hover-color);
  border-radius: 10px;
}

#pagination-container button:disabled {
    color: #666;
    cursor: not-allowed;
}